.offer__list {
  margin: 0 auto min(80px, 7vw);
  padding: 0;
  list-style: none;
  display: grid;
  flex-direction: row;
  justify-content: center;
  grid-template-columns: repeat(5, min(180px, 15vw));
  gap: 20px;
}
