.popup__container {
  max-width: min(60vw, 430px);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .popup__container {
    padding: 15px 20px;
  }
}
