.popup__input {
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: min(20px, 4vw);
  height: min(30px, 5vw);
  padding: 0 10px;
  outline: none;
  box-sizing: border-box;
  line-height: 2;
}

.popup__input:focus {
  border: none;
  box-shadow: 0px 0px 6px rgb(29, 152, 253);
}

.popup__input:active {
  border: none;
}
