.popup__close-btn {
  position: absolute;
  width: min(40px, 8vw);
  height: min(40px, 8vw);
  padding: 0;
  margin: 0;
  border: none;
  top: max(-40px, -8vw);
  right: max(-40px, -8vw);
  background-image: url(../../../images/close-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}

.button:hover {
  opacity: 0.5;
}
