.popup__close-btn {
  /* сброс стилей */
  border: none;
  cursor: pointer;
  position: absolute;
  width: min(40px, 8vw);
  height: min(40px, 8vw);
  padding: 0;
  margin: 0;
  border: none;
  top: max(-40px, -8vw);
  right: max(-40px, -8vw);
  background-image: url(../../../images/close-btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  opacity: 1;
  transition: 0.5s;
}

.popup__close-btn:hover {
  opacity: 0.5;
}

.popup__close-btn:active {
  outline-style: none;
}

.popup__close-btn:focus {
  outline-style: none;
}
